.contenedor{
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top:20px ;


}

.checkboxes{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.checkboxes div{
    margin: 10px;
}
.checkboxes div label{
    cursor: pointer;
}

.checkboxes div label input[type="checkbox"]{
    display: none;
}

.checkboxes div label span{
    position: relative;
    display: inline-block;
    background-color: #e88504;
    padding: 10px 15px;
    color: white;
    text-shadow:0 1px 4px rgba(0, 0, 0, .5) ;
    border-radius: 30px;
    font-size: 20px;
    transition: .5s;
    user-select: none;
    overflow: hidden;
}



.checkboxes div label input[type="checkbox"]:checked ~ span{
    background: #503102;
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.contenedor img{
    width: 180px;
    margin-top: 10px;

}
.contenedor p{
    margin-top: 25px;

}
.contenedor button{
    margin-top: 35px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    transition: .2s;
    padding: 10px 20px;

}
.contenedor button:hover{
    background-color: rgb(189, 184, 184);
}
.contenedor button:active{
    background-color: black;
    color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.card{
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: #e88504;
    border: solid black 1px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
    border-radius: 4px;
    margin: 20px;
}

.card img{
    height: 120px;
    width: 120px;

}