.contenedor{
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top:100px ;

}
.contenedor img{
    width: 180px;
    margin-top: 10px;

}
.contenedor p{
    margin-top: 25px;

}
.contenedor button{
    margin-top: 35px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    transition: .2s;
    padding: 10px 20px;

}
.contenedor button:hover{
    background-color: rgb(189, 184, 184);
}
.contenedor button:active{
    background-color: black;
    color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.card{
    text-align: center;
    width: 200px;
    height: 300px;
    background-color: #e88504;
    border: solid black 1px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
    border-radius: 4px;
    margin: 20px;
}